<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("Index", "Application")">
                <span class="oi oi-code" aria-hidden="true"></span> Source
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("Calculator", "Application")">
                <span class="oi oi-calculator" aria-hidden="true"></span> Calculator
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("Avengers", "Application")">
                <span class="oi oi-people" aria-hidden="true"></span> Avengers
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("Deck", "Application")">
                <span class="oi oi-heart" aria-hidden="true"></span> Deck
            </a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="@Url.Action("TicTacToe", "Application")">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Tic-Tac-Toe
            </a>
        </li>
    </ul>
</div>